body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9fafc;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 120px;
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(135deg, #f97316, #16a34a);
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    height: 60px;
}

header h1 {
    font-size: 22px;
    margin: 0;
}

.container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100vw;
    padding: 0 2px;
}

.step1,
.bottom {
    background-color: #e09c35;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 2%;
    border-radius: 20px;
    /* width: 80%; */
    min-width: 40%;
}

.step1 {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 15px;
}

.step1 div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.number-input {
    flex: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    display: none;
}

/* .step2 h3 {
    text-align: center;
} */

.step3 label {
    display: block;
}
.btn-func {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn-func button {
    background-color: rgb(45, 150, 45);
    color: white;
    border-radius: 15px;
    border: 1px solid;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
}

label {
    font-size: large;
    font-weight: bold;
}

input {
    padding: 5px;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid;
}

.validate {
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid;
    cursor: pointer;
    background-color: rgb(45, 150, 45);
    color: white;
    font-weight: bold;
    align-self: flex-end;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px; 
    padding-bottom: 80px; 
}

.login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.login-container h2 {
    color: #333;
    margin-bottom: 25px;
    font-weight: 900;
}

.login-container label {
    font-weight: lighter;
    display: block;
    margin-bottom: 6px;
    color: #222;
}

.login-container input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 15px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background: rgb(45, 150, 45);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    opacity: 0.9;
}


footer {
    background: linear-gradient(135deg, #f97316, #16a34a);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    margin: 0;
}
.username{
    position: relative;
    right: -53%;
}
.log{
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 85px;
    transition: 0.3s ease;
    background-color: rgb(204, 46, 46);
    color: white;
    font-size: 15px;
    position: relative;
    right: -58%;
}
.log:hover{
    transform: scale(1.06);
    background-color: white;
    border: 1px solid red;
    color: black;
    cursor: pointer;
}